In [1]:
# Start by importing the relevant libraries.
import pandas as pd
import pickle
import numpy as np

In [2]:
# load delivery dataframe from dataset exported under data_extraction
df = pickle.load(open('dataset_level2.pkl', 'rb'))

From here on, we will work on modifying this DataFrame to contain data for the 8 features we want to use for the developement of our model. These features are as follows: batting team, bowling team, current score, wickets left, current run rate, city, balls left, last five overs (runs scored)

In [3]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,1,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,1,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,1,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,1,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
115320,963,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
115321,963,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
115322,963,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
115323,963,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
115324,963,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

2/8 features have been extracted.

In [4]:
# Start by focusing on the city column.
# Count the number of NaN values in the city column.
df['city'].isnull().sum()

8548

In [5]:
# For the line items with NaN city values, look at the venue values.
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2969
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [6]:
# The output above indicates that for NaN values in the city column, we can use the first word from the values 
# of the venue column.
# We create a condition using np.where() to assign values where city column value is NaN
# These values are outputted to an array called cities that can then update the DataFrame.
cities = np.where(df['city'].isnull(), df['venue'].str.split().apply(lambda x:x[0]), df['city'])
df['city'] = cities

In [7]:
# Check all columns for any NaN values.
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [8]:
# Remove the Venue column since it is not needed anymore = not a feature, redundant with city.
df.drop(columns = ['venue'], inplace = True)

In [9]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
115320,963,Sri Lanka,Australia,19.3,1,0,Colombo
115321,963,Sri Lanka,Australia,19.4,0,0,Colombo
115322,963,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
115323,963,Sri Lanka,Australia,19.6,2,0,Colombo
115324,963,Sri Lanka,Australia,19.7,1,0,Colombo

In [10]:
# For city column, we also want to trim the data to include cities for which enough data 
# is available to optimally train the model. We define a conditon of atlest 5 matches.
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()
df = df[df['city'].isin(eligible_cities)]

In [11]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
115320,963,Sri Lanka,Australia,19.3,1,0,Colombo
115321,963,Sri Lanka,Australia,19.4,0,0,Colombo
115322,963,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
115323,963,Sri Lanka,Australia,19.6,2,0,Colombo
115324,963,Sri Lanka,Australia,19.7,1,0,Colombo

3/8 features have been extracted.

In [12]:
# Now we focus on the current score feature. Currently, our dataframe only has runs conceded
# for every delivery.
# We use groupby here which is an operation to split a python object, apply a funciton and combine
# the results in another python object that we can then run operations on.
df.loc[:,'current_score'] = df.groupby('match_id')['runs'].cumsum()

C:\Users\Archi\AppData\Local\Temp\ipykernel_3340\3397973106.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'current_score'] = df.groupby('match_id')['runs'].cumsum()

In [13]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3
...,...,...,...,...,...,...,...,...
115320,963,Sri Lanka,Australia,19.3,1,0,Colombo,125
115321,963,Sri Lanka,Australia,19.4,0,0,Colombo,125
115322,963,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
115323,963,Sri Lanka,Australia,19.6,2,0,Colombo,127
115324,963,Sri Lanka,Australia,19.7,1,0,Colombo,128

4/8 features have been extracted.

In [17]:
# Now we focus on the balls left feature.
# Start by splitting the data in 'ball' column into over and ball no.
overs = df['ball'].apply(lambda x:str(x).split(".")[0])
ball_no = df['ball'].apply(lambda x:str(x).split(".")[1])
# We can use this computed data to now compute the balls left for every delivery line item.
balls_bowled = (overs.astype('int')*6) + ball_no.astype('int') # No need to account for extras.
balls_left = 120 - balls_bowled
# Add this to the DataFrame
df.loc[:, 'balls_left'] = balls_left.apply(lambda x:0 if x<0 else x)
df

C:\Users\Archi\AppData\Local\Temp\ipykernel_3340\1596359664.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[119 118 117 ...   1   0   0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df.loc[:, 'balls_left'] = balls_left.apply(lambda x:0 if x<0 else x)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,balls_left
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,119
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,118
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,117
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,116
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,115
...,...,...,...,...,...,...,...,...,...
115320,963,Sri Lanka,Australia,19.3,1,0,Colombo,125,3
115321,963,Sri Lanka,Australia,19.4,0,0,Colombo,125,2
115322,963,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,1
115323,963,Sri Lanka,Australia,19.6,2,0,Colombo,127,0
115324,963,Sri Lanka,Australia,19.7,1,0,Colombo,128,0

5/8 features have been extracted.

In [22]:
# Now we find the wickets left feature from the data.
# Start by creating a list of 1 and 0 to represent whether a wicket was taken on a ball
# Then group data by matches and find the sum
df.loc[:, 'wickets_left'] = df['player_dismissed'].apply(lambda x:0 if x == '0' else 1)
df.loc[:, 'wickets_left'] = dismissals.astype('int')
df.loc[:, 'wickets_left'] = df.groupby('match_id')['wickets_left'].cumsum()
df.loc[:, 'wickets_left'] = 10 - df['wickets_left']
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,balls_left,wickets_left
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,119,10
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,118,10
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,117,10
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,116,10
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,115,10
...,...,...,...,...,...,...,...,...,...,...
115320,963,Sri Lanka,Australia,19.3,1,0,Colombo,125,3,2
115321,963,Sri Lanka,Australia,19.4,0,0,Colombo,125,2,2
115322,963,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,1,1
115323,963,Sri Lanka,Australia,19.6,2,0,Colombo,127,0,1
115324,963,Sri Lanka,Australia,19.7,1,0,Colombo,128,0,1

6/8 features extracted.

In [25]:
# Now we focus on the current run rate feature.
df.loc[:, 'crr'] = (df['current_score']*6)/balls_bowled
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,balls_left,wickets_left,crr
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,119,10,0.000000
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,118,10,0.000000
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,117,10,2.000000
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,116,10,4.500000
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...
115320,963,Sri Lanka,Australia,19.3,1,0,Colombo,125,3,2,6.410256
115321,963,Sri Lanka,Australia,19.4,0,0,Colombo,125,2,2,6.355932
115322,963,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,1,1,6.302521
115323,963,Sri Lanka,Australia,19.6,2,0,Colombo,127,0,1,6.350000
115324,963,Sri Lanka,Australia,19.7,1,0,Colombo,128,0,1,6.347107

7/8 features extracted.

In [ ]:
# The last feature is runs scored in last 5 overs.